# Node build artifacts
node_modules
npm-debug.log

!files/temp
!files/temp/

files/*
!files/.gitkeep
files/temp/*
!files/temp/.gitkeep

# Local development
*.env
.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

api_key.py
api_key.key
client-secret.json
credentials.tar.gz
