# Node build artifacts
node_modules
npm-debug.log



!files/.gitkeep

files/**
!files/**/
!files/temp/.gitkeep



# Local development
*.env
.env
*.dev
.DS_Store

# Docker
#Dockerfile
docker-compose.yml

api_key.py
api_key.key
client-secret.json
credentials.tar.gz

#cloud_sql_proxy -instances=omega-zeta:southamerica-east1:mount-cylene=tcp:3306 -credential_file=../omega-zeta-afcf1441b7ad.json
cloud_sql_proxy.exe

