<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    Ficha Cadastral | WAGO
  </title>
  <meta name="description" content="Form wizard examples">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--begin::Web font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <!--end::Web font -->
  <!--begin::Base Styles -->
  <!-- <link href="css/template-form.css" rel="stylesheet" type="text/css" /> -->
  <link href="{{css}}" rel="stylesheet" type="text/css" />
  <!--end::Base Styles -->

</head>

<body>

<body>   
    <!-- BEGIN: Subheader -->
    <div class="m-stack__item m-stack__item--middle m-brand__logo">
      <div class="m-brand">
        <!-- <img alt="" src="logo.png" width="200px" length="80px" /> -->
        <img alt="" src="{{logo}}" width="200px" length="80px" />
      </div>
    </div> 
    <!-- END: Subheader -->

    <!-- BEGIN: Content -->
    <div class="m-content">            
      <div class="col-xl-12"> 
        <div class="row">
          <div class="col-xl-9 offset-xl-1">
            <!--begin::Section-->
            <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
              <!--begin::Item-->    
              <div class="m-form__section">                              
                <div class="m-form__heading">
                  <h4 class="m-form__heading-title">
                   <i class="fa flaticon-user-ok icon-rev"></i> Identificação
                  </h4>
                </div>             

                <div class="row">

                  <label class="col-xl-2 col-lg-2 col-md-2 col-form-label">
                    Razão Social:
                  </label>
                  <div class="col-xl-4 col-lg-4 col-md-4">
                    <span id="rev-nome" class="m-form__control-static">
                    
                    </span>
                  </div>

                  <label class="col-xl-2 col-lg-2 col-md-2 col-form-label">
                    Fantasia:
                  </label>
                  <div class="col-xl-4 col-lg-4 col-md-4">
                    <span id="rev-fantasia" class="m-form__control-static">
                    
                    </span>
                  </div>

                </div>   

                <div class="row">
                  <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
                    CNPJ:
                  </label>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <span id="rev-cnpj" class="m-form__control-static">
                    
                    </span>
                  </div>

                  <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
                    IE:
                  </label>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <span id="rev-ie" class="m-form__control-static">
                    
                    </span>
                  </div>
                </div>                                      
              </div>

              <div class="m-separator m-separator--dashed m-separator--lg"></div>

              <div class="m-form__section">
                <div class="m-form__heading">
                  <h4 class="m-form__heading-title">
                    <i class="fa flaticon-piggy-bank icon-rev"></i> Fiscais
                  </h4>
                </div>
                <div class="row">

                  <label class="col-xl-3 col-lg-3 col-md-3 col-form-label">
                    Aplicação do Material:
                  </label>
                  <div class="col-xl-3 col-lg-3 col-md-3">
                    <span id="rev-aplicacao" class="m-form__control-static">
                    
                    </span>
                  </div>

                  <label class="col-xl-3 col-lg-3 col-md-3 col-form-label">
                    Contribuinte de ICMS:
                  </label>
                  <div class="col-xl-3 col-lg-3 col-md-3">
                    <span id="rev-icms" class="m-form__control-static">
                    
                    </span>
                  </div>

                </div>

                <div class="row">

                  <label class="col-xl-3 col-lg-3 col-md-3 col-form-label">
                    Inscrição Municipal:
                  </label>
                  <div class="col-xl-3 col-lg-3 col-md-3">
                    <span id="rev-im" class="m-form__control-static">
                    
                    </span>
                  </div>

                  <label class="col-xl-3 col-lg-3 col-md-3 col-form-label">
                    Código Suframa:
                  </label>
                  <div class="col-xl-3 col-lg-3 col-md-3">
                    <span id="rev-suframa" class="m-form__control-static">
                    
                    </span>
                  </div>

                </div>
               
                <div class="row">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-form-label">
                    Email para XML e DANFE:
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-4">
                    <span id="rev-emailXML" class="m-form__control-static">
                    
                    </span>
                  </div>
                </div>

                <div class="row">
                  <label class="col-xl-2 col-lg-2 col-md-2 col-form-label">
                    CNAE Principal:
                  </label>
                  <div class="col-xl-10 col-lg-10 col-md-10">
                    <span id="rev-atividade_principal" class="m-form__control-static">
                    
                    </span>
                  </div>
                </div>

                <div class="form-group m-form__group m-form__group--lg row regime-especial" style="display:none;">
                  <label class="col-xl-2 col-lg-2 col-md-2 col-form-label">
                    Regime Especial:
                  </label>
                  <div class="col-xl-10 col-lg-10 col-md-10">
                    <!-- <span id="rev-regimeEspecialObs" class="m-form__control-static">                                              
                    </span> -->
                    <textarea id="rev-regimeEspecialObs" class="form-control m-input" disabled="disabled" rows="3"></textarea>
                  </div>
                </div>

                <div class="row regime-especial" style="display:none;">
                  <label class="col-xl-12 col-lg-12 col-md-12 col-form-label">
                    Arquivos anexados:
                  </label>
                  <div id="regime-especial-file" class="col-xl-12 col-lg-12 col-md-12">
                    <span class="m-form__control-static">
                    </span>
                  </div>
                </div>

              </div>

              <div class="m-separator m-separator--dashed m-separator--lg"></div>

              <div class="m-form__section">
                <div class="m-form__heading">
                  <h4 class="m-form__heading-title">
                    <i class="fa flaticon-map-location icon-rev"></i> Endereço
                  </h4>
                </div>

                <div class="row">

                  <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
                    Logradouro
                  </label>
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                    <span id="rev-logradouro" class="m-form__control-static">
                    
                    </span>
                  </div>

                  <label class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-form-label">
                    n.
                  </label>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    <span id="rev-numero" class="m-form__control-static">
                    
                    </span>
                  </div>


                </div>



                <div class="row">

                  <label class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-form-label">
                    CEP
                  </label>
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    <span id="rev-cep" class="m-form__control-static">
                    
                    </span>
                  </div>

                  <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
                    Municipio
                  </label>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                    <span id="rev-municipio" class="m-form__control-static">
                    
                    </span>
                  </div>

                  <label class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-form-label">
                    UF
                  </label>
                  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <span id="rev-uf" class="m-form__control-static">
                    
                    </span>
                  </div>

                </div> 

                <div class="row">

                  <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
                    Bairro
                  </label>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <span id="rev-bairro" class="m-form__control-static">
                    
                    </span>
                  </div>

                  <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
                    Complemento
                  </label>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <span id="rev-complemento" class="m-form__control-static">
                    
                    </span>
                  </div>                                            

                </div>                                   

              </div>

              <div class="m-separator m-separator--dashed m-separator--lg"></div>

              <div class="m-form__section">
                <div class="m-form__heading">
                  <h4 class="m-form__heading-title">
                    <i class="fa flaticon-support icon-rev"></i> Contato Financeiro
                  </h4>
                </div>

                <div class="row">
                  <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
                    Nome:
                  </label>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <span id="rev-nomeFinanceiro" class="m-form__control-static">
                    
                    </span>
                  </div>                                          
                  <label class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label">
                    Telefone:
                  </label>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <span id="rev-telFinanceiro" class="m-form__control-static">
                    
                    </span>
                  </div>
                </div>
                
                <div class="row">
                  <label class="col-xl-4 col-lg-4 col-md-4 col-form-label">
                    Email:
                  </label>
                  <div class="col-xl-8 col-lg-8 col-md-8">
                    <span id="rev-emailFinanceiro" class="m-form__control-static">
                    
                    </span>                                            
                  </div>                                  
                </div>                                                          
              </div>
            </div>                          
          </div>
        </div>      
      </div>
    </div>
    <!-- END: Content -->
</body>
</html>
